* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #f4eeff;
  --primary-color: #a6b1e1;
  --secondary-color: #dcd6f7;
  --text-color: #424874;
}

body {
  background-color: var(--bg-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 0;
  outline: 0;
  width: 120px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  font-weight: 700;
}

div.buttons {
  padding: 50px;
}

#toast-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.toast {
  width: 400px;
  height: 80px;
  background-color: var(--secondary-color);
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0.2rem 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.toast i {
  margin: 0 20px;
  font-size: 35px;
  color: var(--primary-color);
}

.toast.error i {
  color: red;
}

.toast.invalid i {
  color: orange;
}

.toast.success i {
  color: green;
}
